<!-- /templates/author.html -->

<div class="container" ng-controller="AuthorController">
    <div class="row well">
        <div class="col-md-12 text-center">
            <h2 class="text-primary">{{author.name}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">
                <dt>Born</dt>
                <dd>{{author.birthday | date:'dd.MM.yyyy'}}</dd>
                <dt>Biography</dt>
                <dd>{{author.biography}}</dd>
            </dl>
        </div>
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="text-center">Bibliography</h4>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled">
                        <li ng-repeat="book in author.books">
                            <a href="#/book/{{book.id}}">{{book.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>