<!-- /templates/book.html -->

<div class="container" ng-controller="BookController">
    <div class="row well">
        <div class="col-md-12 text-center">
            <h2 class="text-primary">{{book.name}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="text-center">
                <img ng-src="http://localhost:1337/{{book.cover}}" alt="Cover book" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <div class="text-center">
                    <p class="lead">Rating: <span class="badge"> {{book.rating | number:1}} of 10</span></p>
                </div>
            </div>
            <div class="well">
                <form class="form-horizontal" name="addVoteBookForm" role="form" ng-submit="addVote()">
                    <div class="form-group">
                        <label for="voteBook" class="col-sm-2 control-label">Vote</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="voteBook" name="voteBook" ng-model="data.vote" required>
                                <option ng-repeat="i in [1,2,3,4,5,6,7,8,9,10]">{{i}}</option>
                            </select>
                        </div>
                        <div class="col-sm-3 control-label">
                            <i ng-show="addVoteBookForm.voteBook.$error.required" class="text-danger">* required</i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="voteUser" class="col-sm-2 control-label">User</label>
                        <div class="col-sm-6">
                            <select class="form-control" id="voteUser" name="voteUser" ng-model="data.userVote" required>
                                <option ng-repeat="user in users">{{user.name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-3 control-label">
                            <i ng-show="addVoteBookForm.voteUser.$error.required" class="text-danger">* required</i>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" ng-disabled="!addVoteBookForm.$valid" class="btn btn-primary">Add Vote</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12" ng-show="data.resultVote">
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <strong>Success!</strong>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="well">
                <dl class="dl-horizontal">
                    <dt>Author</dt>
                    <dd><a href="#/author/{{book.author.id}}">{{book.author.name}}</a></dd>
                    <dt>Year</dt>
                    <dd>{{book.year}}</dd>
                    <dt>Summary</dt>
                    <dd>{{book.description}}</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="row panel panel-info" ng-repeat="comment in book.comments">
        <div class="panel-body">
            <blockquote>
                <p>{{comment.text}}</p>
                <footer>{{comment.user.name}}</footer>
            </blockquote>
        </div>
    </div>
    <comment-form></comment-form>
</div>