<!-- /templates/comment-form.html -->

<div class="row well">
    <form class="form-horizontal" name="addCommentBookForm" role="form" ng-submit="addComment()">
        <div class="form-group">
            <label for="commentBook" class="col-sm-1 control-label">Comment</label>
            <div class="col-sm-10">
                <textarea class="form-control" rows="3" id="commentBook" name="commentBook" placeholder="..." ng-model="data.comment" required></textarea>
            </div>
            <div class="col-sm-1 control-label">
                <i ng-show="addCommentBookForm.commentBook.$error.required" class="text-danger">* required</i>
            </div>
        </div>
        <div class="form-group">
            <label for="authorComment" class="col-sm-1 control-label">User</label>
            <div class="col-sm-10">
                <select class="form-control" id="authorComment" name="authorComment" ng-model="data.user" required>
                    <option ng-repeat="user in users">{{user.name}}</option>
                </select>
            </div>
            <div class="col-sm-1 control-label">
                <i ng-show="addCommentBookForm.authorComment.$error.required" class="text-danger">* required</i>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-1 col-sm-11">
                <button type="submit" ng-disabled="!addCommentBookForm.$valid" class="btn btn-primary">Add Comment</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-12" ng-show="data.result">
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong>Success!</strong>
                </div>
            </div>
        </div>
    </form>
</div>