   <!-- /templates/modal.html -->

   <div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title">Add new book</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="addBookForm" role="form" ng-submit="addBooks()">
                    <div class="form-group">
                        <label for="bookTitle" class="col-sm-2 control-label">Title</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="bookTitle" name="bookTitle" placeholder="Book title" ng-model="data.name" required>
                        </div>
                        <div class="col-sm-2 control-label">
                            <i ng-show="addBookForm.bookTitle.$error.required" class="text-danger">* required</i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="yearBook" class="col-sm-2 control-label">Year</label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control" id="yearBook" name="yearBook" placeholder="Publication year" ng-model="data.year" ng-pattern="\d{4}" required>
                        </div>
                        <div class="col-sm-2 control-label">
                            <i ng-show="addBookForm.yearBook.$error.required" class="text-danger">* required</i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="authorBook" class="col-sm-2 control-label">Author</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="authorBook" name="authorBook" ng-model="data.author" required>
                                <option ng-repeat="author in authors">{{author.name}}</option>
                            </select>
                        </div>
                        <div class="col-sm-2 control-label">
                            <i ng-show="addBookForm.authorBook.$error.required" class="text-danger">* required</i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="summaryBook" class="col-sm-2 control-label">Summary</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" rows="3" id="summaryBook" name="summaryBook" placeholder="Plot summary" ng-model="data.summary" required></textarea>
                        </div>
                        <div class="col-sm-2 control-label">
                            <i ng-show="addBookForm.summaryBook.$error.required" class="text-danger">* required</i>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="coverBook" class="col-sm-2 control-label">Cover</label>
                        <div class="col-sm-8">
                            <input type="file" ngf-select ng-model="data.cover" id="coverBook" name="coverBook" accept="image/*" ngf-max-size="2MB" ngf-model-invalid="errorFiles">
                        </div>
                        <div class="col-sm-10">
                            <img ng-show="addBookForm.coverBook.$valid" ngf-thumbnail="data.cover" class="thumb">
                            <button ng-click="data.cover = null" ng-show="data.cover">Remove</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" ng-disabled="!addBookForm.$valid" class="btn btn-primary">Add book</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12" ng-show="data.resultBook">
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <strong>Success!</strong> Book loaded
                            </div>
                        </div>
                        <div class="col-sm-12" ng-show="data.resultCover">
                            <div class="alert alert-success alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                <strong>Success!</strong> Cover loaded
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
            </div>
        </div>
    </div>
</div>