<!-- /templates/nav.html -->

<nav class="navbar navbar-default" role="navigation" bs-navbar>
    <div class="navbar-header">
        <a class="navbar-brand" href="#">Online Libruary</a>
    </div>
    <ul class="nav navbar-nav">
        <li data-match-route="/top"><a href="/">Top</a></li>
        <li data-match-route="/search"><a href="#/search">Search</a></li>
        <li data-template-url="js/templates/modal.html" bs-modal="modal"><a href="">Add book</a></li>       
    </ul>
</nav>