<!-- /templates/search.html -->

<div class="container">
    <div class="row well">
        <div class="col-md-12 text-center">
            <h2 class="text-primary">Search book</h2>
        </div>
    </div>
    <div class="row well">
        <div class="col-lg-4 col-sm-offset-4 ">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="data.book">
                <span class="input-group-btn"><button class="btn btn-default" type="button" ng-click="findBook()">Search!</button></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <td class="text-center">
                            <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">Book
                                <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="" ng-click="sortType = 'rating'; sortReverse = !sortReverse">Rating
                                <span ng-show="sortType == 'rating' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'rating' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="" ng-click="sortType = 'author.name'; sortReverse = !sortReverse">Author
                                <span ng-show="sortType == 'author.name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
                                <span ng-show="sortType == 'author.name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
                            </a>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="book in books | orderBy:sortType:sortReverse | filter: {name: data.book}" ng-mouseenter="showInfo(book)">
                        <td><a href="#/book/{{book.id}}">{{book.name}}</a></td>
                        <td class="text-center">{{book.rating | number:1}}</td>
                        <td>{{book.author.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary" ng-show="bookHover">
                <div class="panel-heading text-center">{{bookHover.name}}</div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Author</dt>
                        <dd><a href="#/author/{{bookHover.author.id}}">{{bookHover.author.name}}</a></dd>
                        <dt>Published year</dt>
                        <dd>{{bookHover.year}}</dd>
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">Summary</div>
                            <div class="panel-body">
                                <p>{{bookHover.description}}</p>
                            </div>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>