<!-- /templates/top.html -->

<div class="container" ng-controller="RatingController">
    <div class="row well">
        <div class="col-md-12 text-center">
            <h2 class="text-primary">Best 10 Books & Authors</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="text-center text-info">Book's rating</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="book in books">
                        <a href="#/book/{{book.id}}">{{book.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="text-center text-info">Author's rating</h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="author in authors">
                        <a href="#/author/{{author.id}}">{{author.name}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>