.list-group-item:first-child {
  background-color: #DFF0D8;
}
.list-group-item:first-child > a {
  color: #3d6c2a;
}
.list-group-item:nth-child(2) {
  background-color: #FCF8E3;
}
.list-group-item:nth-child(2) > a {
  color: #8a760f;
}
.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
}
.modal-backdrop.am-fade.ng-enter {
  opacity: 0;
}
.modal-backdrop.am-fade.ng-enter.ng-enter-active {
  opacity: .5;
}
.modal-backdrop.am-fade.ng-leave {
  opacity: .5;
}
.modal-backdrop.am-fade.ng-leave.ng-leave-active {
  opacity: 0;
}
