@color_one: #DFF0D8;
@color_two: #FCF8E3;

.list-group-item {
    &:first-child {
        background-color: @color_one;
        > a {
            color: darken(@color_one, 60%);
        }
    }
    &:nth-child(2) {
        background-color: @color_two;
        > a {
            color: darken(@color_two, 64%);
        }
    }
}

.modal-backdrop.am-fade {
    opacity: .5;
    transition: opacity .15s linear;
    &.ng-enter {
        opacity: 0;
        &.ng-enter-active {
            opacity: .5;
        }
    }
    &.ng-leave {
        opacity: .5;
        &.ng-leave-active {
            opacity: 0;
        }
    }
}